* text=auto !eol
bin/install_tree.sh -text
bin/tree_version -text
data/.version -text
data/dr10.cfg -text
data/dr11.cfg -text
data/dr12.cfg -text
data/sdss_paths.ini -text
data/sdsswork.cfg -text
etc/config.ini -text
