* text=auto !eol
bin/tree_version -text
data/dr10.cfg -text
data/dr11.cfg -text
data/dr12.cfg -text
data/dr13.cfg -text
data/sdss_paths.ini -text
data/sdsswork.cfg -text
etc/config.ini -text
ups/tree.table -text
